* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.title {
    font-weight: 800;
    font-variant: small-caps;
    font-size: 48px;
}

.gameboard {
    display: grid;
    padding: 10px;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    transition: all 0.5s ease-out;
}

.grid {
    height: 50px;
    width: 50px;
    background: rgba(0, 255, 255, 0.342);
    border: 1px solid black;
}

.grid:disabled {
    background: rgba(0, 255, 255, 0.342);
    border: 1px dashed black;
}

.grid:hover {
    background: lightgray;
}


.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.transform {
    transition: all 0.5s ease-out;
    transform: scale(0.9);
}

h2 {
    text-align: center;
}

.ship {
    background-color: green;
}

.miss {
    background-color: rgb(3, 49, 252);
}

.hit {
    background-color: red;
}